[General]
Show_Title=true
Show_Labels=true
Use_Bar_UI=false
Show_Colored_Bars=true
Scale=0
Font_Size=medium
Font_Size_Numerical=2
Update_Interval=60
Exec_Command=true
Show_Units=true
Small_Spacings=false
Command_Name=xfce4-sensors
Number_Chips=1
Suppress_Hddtemp_Message=false

[Chip0]
Name=ACPI
Number=0

