[Desktop Entry]
Charset=
Hidden=false
Keys=gi
Name=Google Image Search
Query=http://images.google.com/images?q=\\{@}
ServiceTypes=SearchProvider
Type=Service
